.App {
  display:flex;
  flex-direction:column;
  align-items: center;
  width:100vw;
  background-color: transparent;
  overflow-x:hidden ;
}

.App a{
  color:white;
}

.App h1 {
  margin:20px 0;
}

.cards {
  width:300px;
  height:400px;
  background-color:#d3ebf4
}

.cards.img-slide {
  width:98vw;
  max-width: 600px;
}

.cards.shadow{
  box-shadow: 0px 0px 20px black;
}

.cards span {
  position: absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  color: black;
  font-size:7rem;
  font-weight: bolder;
}

@media screen and (max-width:425px) {
    .cards{
      width:150px;
      height: 250px;
    }
}